html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0%;
  min-height: 100%;
  font-family: "Commissioner", sans-serif;
  font-weight: bold;

  background: linear-gradient(355deg, #d7d7d7, #db2929, #0060ae, #000000);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 16s ease infinite;
  -moz-animation: AnimationName 16s ease infinite;
  animation: AnimationName 16s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
    /* 100% {
    } */
    background-position: 51% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

h1 {
  font-size: 2rem;
}

section {
  background-color: black;
  color: white;
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.google {
  padding: 0%;
  height: 2.5rem;
  width: 15rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bolder;
}

.icon {
  height: 0.9rem;
}

.crework {
  font-family: "Commissioner", sans-serif;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

span {
  color: orange;
}

input {
  width: 15rem;
  height: 2rem;
  border-radius: 4px;
  border-style: none;
}

#TC,
#rememberMe {
  width: 5%;
}

/* .msg {
  text-align: center;
} */

.logIn,
.signUp {
  height: 2rem;
  width: 6rem;
  border-radius: 4px;
  border-style: none;
  font-size: 1rem;
  font-weight: bolder;
}

.emailError,
.passError {
  display: none;
}

.show {
  display: block;
  color: red;
}

.alert {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: black;
  padding: 1rem 2rem;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s ease;
}

.alert.show {
  transform: scale(1);
}

/* responsive design */

@media (min-width: 1025px) {
  section {
    padding: 0rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
